<div>
  <dl>
    <%= image_tag(url_for(@beverage.image), class: 'img-thumbnail') if @beverage.image&.attached? %>

    <dt><%= Beverage.human_attribute_name(:name) %>:</dt>
    <dd><%= @beverage.name %></dd>

    <dt><%= Beverage.human_attribute_name(:description) %>:</dt>
    <dd><%= @beverage.description %></dd>

    <dt><%= Beverage.human_attribute_name(:calories) %>:</dt>
    <dd><%= @beverage.calories.present? ? @beverage.calories : 'Não informada' %></dd>

    <div>
      <% if @beverage.active? %>
        <%= button_to 'Desativar', disabled_establishment_beverage_path(current_user.establishment.id, @beverage.id), method: :post %>
      <% else %>
        <%= button_to 'Ativar', enabled_establishment_beverage_path(current_user.establishment.id, @beverage.id),method: :post  %>
      <% end %>
    </div>

    <dt><%= Beverage.human_attribute_name(:is_alcholic) %>:</dt>
    <dd><%= @beverage.is_alcholic ? 'Sim' : 'Não' %></dd>

    <%= link_to 'Editar bebida',
      edit_establishment_beverage_path(current_user.establishment.id, @beverage.id) %>

    <%= button_to 'Remover', establishment_beverage_path(current_user.establishment, @beverage.id), method: :delete, data: { confirm: 'Tem certeza que deseja remover esta bebida?' } %>
  </dl>
</div>
