<h1>Cardápios de <%= @establishment.brand_name %></h1>

<% if @menus.any? %>
  <ul class="list-group">
    <% @menus.each do |menu| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <%= menu.name %>
        <div>
          <%= link_to 'Ver Detalhes', establishment_menu_path(@establishment, menu), class: "btn btn-primary btn-sm" %>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Não há cardápios cadastrados para este estabelecimento.</p>
<% end %>

<%= link_to 'Novo Cardápio', new_establishment_menu_path(@establishment), class: "btn btn-success mt-3" %>
<%= link_to 'Voltar', establishment_path(@establishment), class: "btn btn-secondary mt-3" %>
