<%= form_with(model: @establishment, local: true) do |form| %>
  <% ["Domingo", "Segunda-feira", "Terça-feira", "Quarta-feira", "Quinta-feira", "Sexta-feira", "Sábado", "Feriado"].each do |day| %>
    <div class="day-schedule">
      <h3><%= day %></h3>
      
      <%= form.fields_for :opening_hours, @establishment.opening_hours.find_or_initialize_by(day_of_week: day.downcase) do |hour_form| %>
        <%= hour_form.hidden_field :day_of_week, value: day.downcase %>

        <div>
          <%= hour_form.label :open_time, "Horário de Abertura" %>
          <%= hour_form.time_field :open_time %>
        

        
          <%= hour_form.label :close_time, "Horário de Fechamento" %>
          <%= hour_form.time_field :close_time %>

          <%= hour_form.label :closed, "Fechado" %>
          <%= hour_form.check_box :closed %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= form.submit "Salvar Horários de Funcionamento" %>
  </div>
<% end %>
