<div>
<%= form_with(model:[current_user.establishment, @dish] , local: true) do |form| %>
  <div>
  <%= form.label :name, Dish.human_attribute_name(:name) %>
  <%= form.text_field :name %>
</div>
  <%= form.label :description,Dish.human_attribute_name(:description) %>
  <%= form.text_area :description %>
<div>
  <%= form.label :calories, Dish.human_attribute_name(:calories)%>
  <%= form.number_field :calories %>
</div>
<div>
  <%= form.label :photo, Dish.human_attribute_name(:photo)%>
  <%= form.file_field :photo %>
</div>
  <%= form.submit 'Salvar' %>
<% end %>
</div>

