<h1>Pratos</h1>

<div class="row">
  <% if @dishes.any? %>
    <% @dishes.each do |dish| %>
      <div class="col-md-4 mb-3">
        <div class="card">
          <% if dish.image.attached? %>
            <%= image_tag dish.image, class: "card-img-top img-fluid", style: "max-height: 200px; object-fit: cover;", alt: dish.name %>
          <% else %>
            <img src="https://via.placeholder.com/150" class="card-img-top img-fluid" style="max-height: 200px; object-fit: cover;" alt="Imagem não disponível">
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= dish.name %></h5>
            <p class="card-text"><%= dish.description %></p>
            <% if dish.calories.present? %>
              <p class="card-text"><strong>Calorias:</strong> <%= dish.calories %></p>
            <% end %>
            <%= link_to 'Ver Detalhes', establishment_dish_path(dish.establishment, dish), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>Nenhum prato cadastrado.</p>
  <% end %>
</div>
