<div >
  <dl >
    
        <%= image_tag url_for(@dish.image), class: 'img-thumbnail' if @dish.image.attached? %>
        <dt><%= Dish.human_attribute_name(:name) %>:</dt>
        <dd><%= @dish.name %></dd>                                                                                                                                                        

    

        <dt><%= Dish.human_attribute_name(:description) %>:</dt>
        <dd><%= @dish.description %></dd>

        <dt><%= Dish.human_attribute_name(:calories) %>:</dt>                                                    
        <dd><%= @dish.calories.present? ? @dish.calories : 'Não informada' %></dd>

        <%= button_to 'Editar prato',
          edit_establishment_dish_path(current_user.establishment.id, @dish.id) %>

      <%= button_to 'Remover', establishment_dish_path(current_user.establishment, @dish.id), method: :delete, data: { confirm: 'Tem certeza que deseja remover este prato?' } %>

                                                                                                                                                                                                        
  </dl>
</div>