<h1><%= @establishment.brand_name %></h1>

<p>
  <strong>Nome Empresarial:</strong>
  <%= @establishment.corporate_name %>
</p>

<p>
  <strong>CNPJ:</strong>
  <%= @establishment.cnpj %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @establishment.address %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @establishment.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @establishment.email %>
</p>

<p>
  <strong>Código:</strong>
  <%= @establishment.code %>
</p>

<h2>Horários de Funcionamento</h2>

<% if @opening_hours.any? %>
  <ul>
    <% @opening_hours.each do |opening_hour| %>
      <li>
        <strong>Dia:</strong> <%= opening_hour.day_of_week.capitalize %><br>
        <% if opening_hour.closed %>
          <strong>Fechado</strong>
        <% else %>
          <strong>Horário de Abertura:</strong> <%= opening_hour.open_time.strftime("%H:%M") %><br>
          <strong>Horário de Fechamento:</strong> <%= opening_hour.close_time.strftime("%H:%M") %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Não há horários de funcionamento cadastrados.</p>
<% end %>

<%= link_to 'Editar', edit_establishment_path(@establishment) %> |
<%= link_to 'Voltar', establishments_path %> |
<%= link_to 'Adicionar horários de funcionamento', new_establishment_opening_hour_path(@establishment) %>
