<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Paleva" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>
  
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    
   <header>
      
      <nav>
        <% if user_signed_in?%>
        <h1>PaLevá</h1>
          <% if current_user.establishment&.id %>
            <%= link_to 'Cadastrar Novo Prato', new_establishment_dish_path(current_user.establishment.id)%> | 
            <%= link_to 'Cadastrar Bebida', new_establishment_beverage_path(current_user.establishment.id)%> | 
            <%= link_to 'Meus Pratos', establishment_dishes_path(current_user.establishment.id)%> | 
            <%= link_to 'Minhas Bebidas', establishment_beverages_path(current_user.establishment.id)%> | 
            <%= link_to 'Restaurante', establishment_path(current_user.establishment.id) %> |
            <%= link_to 'Tags', new_tag_path%>

            <%= form_with(url: search_path, method: :get) do |f| %>
            <%= f.label :query, 'Buscar' %>
            <%= f.text_field :query, value: params[:query] %> 
            <%= f.submit 'Buscar' %>
          <% end %>  
          <% end %>
          <%= button_to 'Sair', destroy_user_session_path, method: :delete %>
          <%=  current_user.email%>
        <% end %>
          
      </nav>
   </header> 
 <% if flash[:notice] %>
    <div class="alert alert-notice"><%= flash[:notice] %></div>
  <% end %>

  <% if flash[:alert] %>
    <div class="alert alert-danger"><%= flash[:alert] %></div>
  <% end %>
    <%= yield %>
  </body>
</html>
